<%%= turbo_frame_tag user do %>
  <%%= form_with model: user, url: profile_account_path, id: dom_id(user, :form), data: { turbo_frame: '_top' } do |f| %>
    <div class="space-y-6">
      <%%= render(Initforthe::FormErrorsComponent.new(f.object)) %>

      <%%= vc_input_group f: f, name: :name do |c| %>
        <%%= vc_text_field f: c.f, name: c.name %>
      <%% end %>

      <%%= vc_input_group f: f, name: :email do |c| %>
        <%%= vc_email_field f: c.f, name: c.name %>
      <%% end %>

      <%%= vc_input_group f: f, name: :password do |c| %>
        <%%= vc_password_field f: c.f, name: c.name %>
      <%% end %>

      <%%= vc_input_group f: f, name: :password_confirmation do |c| %>
        <%%= vc_password_field f: c.f, name: c.name %>
      <%% end %>
    </div>

    <div class="mt-5 sm:mt-6">
      <%%= f.submit class: 'inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm' %>
    </div>
  <%% end %>
<%% end %>
