<div class="flex flex-col justify-center min-h-screen py-12 bg-gray-50 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="text-3xl font-extrabold text-center text-gray-900">
      Edit <%%= resource_name.to_s.humanize %>
    </h2>
    <p class="mt-2 text-sm text-center text-gray-600 max-w">
      Or
      <%%= link_to :back, class: "font-medium text-indigo-600 hover:text-indigo-500" do %>
        go back
      <%% end %>
    </p>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
      <%%= form_with(model: resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="space-y-6">
          <%%= render "devise/shared/error_messages", resource: resource %>
          <%%= vc_input_group f: f, name: :email do |com| %>
            <%%= vc_email_field f: com.f, name: com.name, field: { autofocus: true, autocomplete: 'email' } %>
          <%% end %>
          <%% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%%= resource.unconfirmed_email %></div>
          <%% end %>
          <%%= vc_input_group f: f, name: :password do |com| %>
            <%%= vc_password_field f: com.f, name: com.name, field: { autocomplete: 'new-password' } %>
            <%% com.with_inline_hint do %>
              <i>(leave blank if you don't want to change it)</i>
            <%% end %>
            <%% com.with_hint do %>
              <em>(<%%= @minimum_password_length %> characters minimum)</em>
            <%% end if @minimum_password_length %>
          <%% end %>
          <%%= vc_input_group f: f, name: :password_confirmation do |com| %>
            <%%= vc_password_field f: com.f, name: com.name, field: { autocomplete: 'new-password' } %>
          <%% end %>
          <%%= vc_input_group f: f, name: :current_password do |com| %>
            <%%= vc_password_field f: com.f, name: com.name, field: { autocomplete: 'current-password' } %>
            <%% com.with_hint do %>
              <i>(we need your current password to confirm your changes)</i>
            <%% end %>
          <%% end %>
          <div class="actions">
            <%%= f.submit "Update", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>
          <div class="space-y-2 text-sm font-medium">
            <div>
              Unhappy? <%%= button_to "Cancel my account", registration_path(resource_name), method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, class: 'text-gray-500 hover:text-gray-800 active:text-gray-400 transition duration-150 ease-in-out' %><br />
            </div>
            <div>
              <%%= link_to "Back", :back, class: 'text-gray-500 hover:text-gray-800 active:text-gray-400 transition duration-150 ease-in-out' %><br />
            </div>
          </div>
        </div>
      <%% end %>
    </div>
  </div>
</div>
