# frozen_string_literal: true

# <%= @authentication_model.pluralize %> module
module <%= @authentication_model.pluralize %>
  # <%= @authentication_model %> Invitations Controller
  class InvitationsController < BaseController
    after_action :verify_authorized, except: [] # rubocop:disable Rails/LexicallyScopedActionFilter
    after_action :verify_policy_scoped, only: [] # rubocop:disable Rails/LexicallyScopedActionFilter

    decorates_assigned :<%= @user_singular %>

    def new
      @<%= @user_singular %> = policy_scope(<%= @authentication_model %>).new
      authorize @<%= @user_singular %>, :invite?
    end

    def create
      @<%= @user_singular %> = policy_scope(<%= @authentication_model %>).new(<%= @user_singular %>_params)
      authorize @<%= @user_singular %>, :invite?

      if @<%= @user_singular %>.valid? || @<%= @user_singular %>.errors.map(&:attribute) == [:password]
        @<%= @user_singular %> = policy_scope(<%= @authentication_model %>).invite!(<%= @user_singular %>_params)
      end

      @<%= @user_singular %>.persisted? ? on_successful_create_render : on_failed_create_render
    end

    protected

    def <%= @user_singular %>_params
      params.require(:<%= @user_singular %> ).permit(<%= @devise_roles&.any? ? ':role, ' : '' %>:email, :name, :invited_by_type, :invited_by_id)
    end

    def on_successful_create_render
      redirect_to <%= @user_plural %>_path, notice: t('<%= @user_plural %>.invitations.create.success')
    end

    def on_failed_create_render
      render :new
    end
  end
end
