# frozen_string_literal: true


module  <%= @authentication_model.pluralize %>
  # <%= @authentication_model.pluralize %> Reactivations Controller
  class ReactivationsController < BaseController
    skip_after_action :verify_policy_scoped
    skip_after_action :verify_authorized, unless: :create

    def create
      @<%= @user_singular %> = policy_scope( <%= @authentication_model %>).with_deleted.find(params[:<%= @user_singular %>_id])
      authorize @<%= @user_singular %>, :create?

      redirect_to <%= @user_plural %>_path, notice: t('.success') if @<%= @user_singular %>.recover
    end
  end
end
