<%%= form_with(model: resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, data: { turbo_frame: '_top' } }) do |f| %>
  <div class="flex gap-x-4">
    <%% resource.class.invite_key_fields.each do |field| -%>
      <%%= f.text_field field, autocomplete: "off", class: "flex-1 block w-full shadow-sm rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5 focus:border-indigo-600 focus:ring-indigo-600 border-gray-300" %>
      <%% end -%>
      <%%= f.fields_for :members do |mf| %>
        <%% if mf.object.new_record? %>
        <%%= mf.hidden_field :membership_id %>
        <%%= mf.hidden_field :membership_type %>
        <%%= mf.select :role,
              Settings.roles.to_h.keys.map {|value| [t(value, scope: 'roles'), value] },
              { prompt: "Select role" },
        class: 'block shadow-sm rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5 focus:border-indigo-600 focus:ring-indigo-600 border-gray-300' %>
        <%% end %>
        <%% end %>
        <button class="inline-flex justify-center px-4 py-2 text-base font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm"><%%%= t("devise.invitations.new.submit_button") %></button>
      </div>
      <%% if f.object.errors.any? %>
      <div class="mt-2 text-sm text-red-500">
        <%%= f.object.errors.full_messages.to_sentence %>
      </div>
      <%% end %>
      <%% end %>
