<div class="flex flex-col justify-center min-h-screen py-12 bg-gray-50 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="w-auto h-12 mx-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
    <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">
      <%%= t "devise.invitations.edit.header" %>
    </h2>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
      <%%= form_with(model: resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
        <%%= f.hidden_field :invitation_token, readonly: true %>
        <div class="space-y-6">
          <%%= vc_input_group f: f, name: :name do |com| %>
            <%%= vc 'fields/text_field', f: com.f, name: com.name, field: { autofocus: true, autocomplete: 'name' } %>
          <%% end %>
          <%% if f.object.class.require_password_on_accepting %>
            <%%= render "devise/shared/error_messages", resource: resource %>
            <%%= vc_input_group f: f, name: :password do |com| %>
              <%%= vc 'fields/password_field', f: com.f, name: com.name, field: { autofocus: true, autocomplete: 'new-password' } %>
            <%% end %>
            <%%= vc_input_group f: f, name: :password_confirmation do |com| %>
              <%%= vc 'fields/password_field', f: com.f, name: com.name, field: { autofocus: true, autocomplete: 'new-password' } %>
            <%% end %>
          <%% end %>
          <div class="actions">
            <%%= f.submit t("devise.invitations.edit.submit_button"), class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>
        </div>
      <%% end %>
    </div>
  </div>
</div>
