# [Choice] Ruby version: 3, 3.0, 2, 2.7, 2.6, 2.5
ARG VARIANT=<%= @ruby_variant %>
FROM mcr.microsoft.com/vscode/devcontainers/ruby:${VARIANT}

# Install Rails
RUN gem install rails webdrivers

ARG NODE_VERSION="<%= @node_version || 'lts/*' %>"
RUN su vscode -c "source /usr/local/share/nvm/nvm.sh && nvm install ${NODE_VERSION} 2>&1"

# [Optional] Uncomment this section to install additional OS packages.
RUN apt-get update && export DEBIAN_FRONTEND=noninteractive \
  && apt-get -y install --no-install-recommends imagemagick libvips-tools postgresql-client<%= ' pipx' if @pre_commit %>

# [Optional] Uncomment this line to install additional gems.
RUN gem install solargraph htmlbeautifier bundler-audit foreman
<%- if @pre_commit %>
RUN PIPX_HOME=/opt/pipx PIPX_BIN_DIR=/usr/local/bin pipx install pre-commit
<% end %>

# [Optional] Uncomment this line to install global node packages.
RUN su vscode -c "source /usr/local/share/nvm/nvm.sh && npm install -g sass-lint" 2>&1
