# frozen_string_literal: true

module Profile
  # Profile / Accounts Controller
  class AccountsController < BaseController
    after_action :verify_authorized, except: [] # rubocop:disable Rails/LexicallyScopedActionFilter
    after_action :verify_policy_scoped, only: [] # rubocop:disable Rails/LexicallyScopedActionFilter

    before_action :load_<%= @user_singular %>, :authorize_<%= @user_singular %>

    decorates_assigned :<%= @user_singular %>

    def edit; end

    def update
      if @<%= @user_singular %>.update(<%= @user_singular %>_params)
        redirect_to root_path
      else
        respond_to do |format|
          format.turbo_stream
          format.html { render :edit, status: :unprocessable_entity }
        end
      end
    end

    private

    def load_<%= @user_singular %>
      @<%= @user_singular %> = current_<%= @user_singular %>
    end

    def authorize_<%= @user_singular %>
      authorize @<%= @user_singular %>
    end

    def <%= @user_singular %>_params
      params.require(:<%= @user_singular %>).permit(:email, :password, :password_confirmation)
    end
  end
end
