<header class='pt-8'>
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h1 class="text-3xl font-extrabold tracking-tight text-gray-900">Two Factor Authentication</h1>
      </div>
    </div>
  </div>
</header>
<div class="px-4 mx-auto max-w-7xl sm:px-4 lg:px-4">
  <div class="relative pt-8 pb-32 overflow-hidden">
    <div class="overflow-hidden bg-white border-b border-gray-200 shadow sm:rounded-lg">
      <div>
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
          <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-8 lg:max-w-none lg:mx-0 lg:px-0">
            <div>
              <div class="">
                <p class="mt-4 mb-2 text-lg text-gray-500">Backup Codes</p>
                <p>Keep these backup codes safe in case you lose access to your authenticator app:</p>
                <div class="items-center mt-4" data-controller="clipboard reveal" data-action="clipboard:copied->reveal#toggle">
                  <div class="relative grid grid-cols-2 p-4 font-mono border border-gray-100 text-monospace strong">
                    <div class="flex justify-end col-span-2 ">
                      <%%= link_to '#', data: { action: "clipboard#copy" }, title: 'Copy to Clipboard', class: "z-10 text-gray-600 hover:text-gray-800" do %>
                        <%%= heroicon 'document-duplicate', variant: :outline, options: { class: 'w-5 h-5 mr-2' } %>
                      <%% end %>
                    </div>
                    <div hidden data-reveal class="absolute inset-0 items-center justify-center col-span-2 font-sans text-sm text-center text-black">
                      Copied to Clipboard
                    </div>
                    <%% @backup_codes.each do |code| %>
                      <div class="col-6" data-clipboard-target="source"><%%= code %></div>
                    <%% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-8 lg:max-w-none lg:mx-0 lg:px-0">
            <div>
              <div class="mt-4">
                <h2 class="text-3xl font-extrabold tracking-tight text-gray-900"></h2>
                <p class="mt-4 mb-2 text-lg text-gray-500">Two Factor Setup Complete</p>
                <p class="mb-4">Two factor authentication has been successfully enabled.</p>
                <div class="mt-4 mb-4">
                  <%%= link_to 'Return to Dashboard', dashboards_path, class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
