<header class='pt-8'>
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h1 class="text-3xl font-extrabold tracking-tight text-gray-900">Two Factor Authentication</h1>
      </div>
    </div>
  </div>
</header>
<div class="px-4 mx-auto max-w-7xl sm:px-4 lg:px-4">
  <div class="relative pt-8 pb-32 overflow-hidden">
    <div class="overflow-hidden bg-white border-b border-gray-200 shadow sm:rounded-lg">
      <div class="relative">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
          <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-8 lg:max-w-none lg:mx-0 lg:px-0">
            <div>
              <div class="">
                <p class="mt-4 mb-2 text-lg text-gray-500"> 1. Scan QR Code</p>
                <p>Please scan the below QR code using an OTP compatible app (such as Google Authenticator or Authy).</p>
                <p class="items-center mt-4">
                  <%%= qr_code_as_svg(current_user.two_factor_qr_code_uri)%>
                </p>
                <p class="items-center mt-4">
                  If you cannot scan, please enter the following code manually: <code class="px-2 py-1 mt-4 bg-gray-100"><%%= current_user.otp_secret %></code>
                </p>
              </div>
            </div>
          </div>
          <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-8 lg:max-w-none lg:mx-0 lg:px-0">
            <div>
              <div class="mt-4">
                <h2 class="text-3xl font-extrabold tracking-tight text-gray-900"></h2>
                <p class="mt-4 mb-2 text-lg text-gray-500"> 2. Confirm OTP Code</p>
                <p class="mb-4">Please confirm that your authentication application is working by entering a generated code below.</p>
                <%%= form_for(:two_fa, url: two_factor_settings_path, method: :post, class: 'mt-4 space-y-6') do |f| %>
                  <%%= vc_input_group f: f, name: :code do |c| %>
                    <%%= vc_text_field f: c.f, name: c.name, field: { autofocus: false} %>
                  <%% end %>
                  <%%= vc_input_group f: f, name: :password, label_text:  'Enter your current password' do |com| %>
                    <%%= vc_password_field f: com.f, name: com.name, html: { required: true, autocomplete: 'current-password' } %>
                  <%% end %>
                  <div class="mb-4">
                    <%%= f.submit 'Confirm and Enable Two Factor', class: "inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 sm:text-sm", data: { disable_with: 'Generating backup codes...', turbo: false} %>
                  </div>
                <%% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
