<div class="items-center flex-none px-6 py-4 text-gray-900 border-b border-gray-200 bg-yellow-50">
  <div class="flex justify-center text-sm">
    <div>
      <p>You are currently logged in as <span class="font-bold"><%%= current_user.name %></span></p>
    </div>
  </div>
  <div class="flex items-center justify-center mt-2 text-sm font-bold">
    <div>
      <%%= link_to back_masquerade_path(current_user), class: '' do %>
        Log out
        <%%= heroicon 'x-mark', variant: :solid, options: { class: "inline h-5 w-5 text-red-500" } %>
      <%% end %>
    </div>
  </div>
</div>
