<div class="mb-8">
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select a filter</label>
    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
    <select data-controller="select-navigation" data-action="change->select-navigation#redirect" id="tabs" name="tabs" class="block w-full border-gray-300 rounded-md focus:border-indigo-600 focus:ring-indigo-600">
      <option value="<%%= users_path %>" <%%= 'selected' if is_active_link?(users_path, :exact) %>>All</option>
      <option value="<%%= users_path(scope: :only_deleted) %>" <%%= 'selected' if is_active_link?(users_path(scope: :only_deleted), { scope: 'only_deleted' }) %>>Deleted</option>
    </select>
  </div>
  <div class="hidden sm:block">
    <nav class="flex divide-x divide-gray-200 rounded-lg shadow isolate" aria-label="Tabs">
      <!-- Current: "text-gray-900", Default: "text-gray-500 hover:text-gray-700" -->
      <%%= active_link_to users_path, active: :exact, class: 'relative flex-1 min-w-0 px-4 py-4 overflow-hidden text-sm font-medium text-center bg-white rounded-l-lg group hover:bg-gray-50 focus:z-10', class_active: 'text-gray-900', class_inactive: 'text-gray-500 hover:text-gray-700' do %>
        <span>All</span>
        <span class="inline-flex items-center px-2 py-1 ml-2 text-xs font-medium text-gray-600 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-500/10"><%%= User.count %></span>
        <%% if is_active_link?(users_path, :exact) %>
          <span aria-hidden="true" class="bg-indigo-600 absolute inset-x-0 bottom-0 h-0.5"></span>
        <%% end %>
      <%% end %>
      <%%= active_link_to users_path(scope: :only_deleted), active: :exact, class: 'rounded-r-lg group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10', class_active: 'text-gray-900', class_inactive: 'text-gray-500 hover:text-gray-700' do %>
        <span>Deleted</span>
        <span class="inline-flex items-center px-2 py-1 ml-2 text-xs font-medium text-gray-600 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-500/10"><%%= User.only_deleted.count %></span>
        <%% if is_active_link?(users_path(scope: :only_deleted), { scope: 'only_deleted' }) %>
          <span aria-hidden="true" class="bg-indigo-600 absolute inset-x-0 bottom-0 h-0.5"></span>
        <%% end %>
      <%% end %>
    </nav>
  </div>
</div>
