<div class="mb-8 md:flex md:items-center md:justify-between" id="header">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Users</h2>
  </div>
  <div class="flex mt-4 md:mt-0 md:ml-4">
    <%% if policy(User).new? %>
      <%%= link_to new_user_path, class: 'inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2', data: { turbo_frame: 'modal' } do %>
        <%%= heroicon 'plus', variant: :solid, options: { class: 'w-5 h-5 mr-2 -ml-1' } %>
        Add User
      <%% end %>
    <%% end %>
  </div>
</div>

<%%# Scopes %>

<%%= turbo_frame_tag :users do %>
  <%% if users.any? %>
    <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      <%%= render partial: 'user', collection: users, as: :user %>
    </ul>
    <%%= render 'pagination', collection: users %>
  <%% else %>
    <div class="text-center">
      <%%= heroicon 'hand-thumb-down', variant: :outline, options: { class: 'w-12 h-12 mx-auto text-gray-400' } %>
      <h3 class="mt-2 text-sm font-medium text-gray-900">No Users</h3>
      <p class="mt-1 text-sm text-gray-500">There are no users in this section.</p>
    </div>
  <%% end %>
<%% end %>
