# frozen_string_literal: true

<%- if @devise -%>
unless <%= @authentication_model %>.any?
  puts 'Seeding devise users...'
  <%= @authentication_model %>.find_or_create_by(email: 'admin@example.com') do |u|
    u.name = 'Admin Istrator'
    u.password = 'password'
    u.password_confirmation = 'password'
  end
end
<%- end -%>
