<%- user_variable = @user_singular %>
# frozen_string_literal: true

require 'rails_helper'

RSpec.describe 'Authentication', :js do
  let(:valid_password) { 'TESTPASS' }
  let!(:<%= user_variable %>) { create(:<%= user_variable %>, password: valid_password, password_confirmation: valid_password) }

  context 'when signed out' do
    before do
      visit root_path
    end

    it 'requires I sign in to access the application' do
      expect(page).to have_content('You need to sign in or sign up before continuing')
    end

    it 'allows a valid <%= user_variable %> to sign in' do
      fill_in 'Email', with: <%= user_variable %>.email
      fill_in 'Password', with: valid_password

      click_button 'Log in'

      expect(page).to have_content('Dashboard')
    end

    it 'indicates when I am on my last login attempt' do
      4.times do
        fill_in 'Email', with: <%= user_variable %>.email
        fill_in 'Password', with: 'wrongpassword'

        click_button 'Log in'
      end

      expect(page).to have_content('You have one more attempt before your account is locked')
    end

    it 'locks me out after five failed attempts' do
      5.times do
        fill_in 'Email', with: <%= user_variable %>.email
        fill_in 'Password', with: 'wrongpassword'

        click_button 'Log in'
      end

      expect(page).to have_content('Your account is locked')
    end
  end

  context 'when signed in' do
    before do
      sign_in <%= user_variable %>

      visit root_path
    end

    it 'allows me to sign out' do
      within 'nav' do
        click_button 'Open user menu'
        click_link 'Sign out'
      end

      expect(page).to have_content('You need to sign in or sign up before continuing')
    end
  end

  context 'when my account has been deleted' do
    let!(:<%= user_variable %>) { create(:<%= user_variable %>, :deleted, password: valid_password, password_confirmation: valid_password) }

    before do
      visit root_path
    end

    it 'prevents me from signing in' do
      fill_in 'Email', with: <%= user_variable %>.email
      fill_in 'Password', with: valid_password

      click_button 'Log in'

      expect(page).to have_content('Invalid Email or password')
    end
  end
end
