# frozen_string_literal: true

require 'rails_helper'

RSpec.describe '<%= @authentication_model.pluralize %>', :js do
  let(:<%= @user_singular %>) { create(:<%= @user_singular %><%= @devise_roles&.any? ? ", :#{@devise_roles.first}" : ''%>) }

  before do
    sign_in <%= @user_singular %>

    visit root_path
  end

  describe 'index' do
    it 'lists the <%= @authentication_model.pluralize %>' do
      click_link '<%= @authentication_model.pluralize %>'

      expect(page).to have_content(<%= @user_singular %>.decorate.name)
    end

    it 'does not include deleted <%= @authentication_model.pluralize %> in the all <%= @authentication_model.pluralize %> tab' do
      new_<%= @user_singular %> = create(:<%= @user_singular %><%= @devise_roles&.any? ? ", :#{@devise_roles.last}" : '' %>)
      new_<%= @user_singular %>.destroy

      click_link '<%= @authentication_model.pluralize %>'

      expect(page).not_to have_content(new_<%= @user_singular %>.decorate.name)
    end

    it 'includes deleted <%= @authentication_model.pluralize %> in the deleted tab' do
      new_<%= @user_singular %> = create(:<%= @user_singular %><%= @devise_roles&.any? ? ", :#{@devise_roles.last}" :  '' %>)
      new_<%= @user_singular %>.destroy

      click_link '<%= @authentication_model.pluralize %>'
      click_link 'Deleted'

      expect(page).to have_content(new_<%= @user_singular %>.decorate.name)
    end
  <%- @devise_roles&.each do |role| %>
    it 'includes <%= role.titleize %> <%= @authentication_model.pluralize %> in the <%= role.titleize %> tab' do
      <%= role %>_<%= @user_singular %> = create(:<%= @user_singular %>, :<%= role %>)

      click_link '<%= @authentication_model.pluralize %>'
      click_link '<%= role.titleize %>'

      expect(page).to have_content(<%= role %>_<%= @user_singular %>.decorate.name)
    end
  <% end %>
  end

  describe 'create' do
    before do
      click_link '<%= @authentication_model.pluralize %>'
      click_link 'Add <%= @authentication_model %>'
    end

    it 'creates the new <%= @user_singular %>' do
      fill_in 'Name', with: 'Jimmy Jones'
      fill_in 'Email', with: 'jimmy@example.com'
      fill_in 'Password', with: 'password', match: :prefer_exact
      fill_in 'Password confirmation', with: 'password'

      click_button 'Create <%= @authentication_model %>'

      expect(page).to have_content('jimmy@example.com')
    end

    it 'requires a <%= @user_singular %> have been given an email' do
      click_button 'Create <%= @authentication_model %>'

      expect(page).to have_content('Email can\'t be blank')
    end
  end

  describe 'destroy' do
    let!(:other_<%= @user_singular %>) { create(:<%= @user_singular %><%= @devise_roles&.any? ? ", :#{@devise_roles.last}" : '' %>) }

    before do
      click_link '<%= @authentication_model.pluralize %>'
    end

    it 'allows me to remove a <%= @user_singular %>' do
      within "#<%= @user_singular %>_#{other_<%= @user_singular %>.id}" do
        accept_confirm do
          click_button 'Delete'
        end
      end

      expect(page).not_to have_content(other_<%= @user_singular %>.email)
    end

    it 'only soft deletes the <%= @user_singular %>' do
      within "#<%= @user_singular %>_#{other_<%= @user_singular %>.id}" do
        accept_confirm do
          click_button 'Delete'
        end
      end

      expect(other_<%= @user_singular %>.reload.deleted_at).not_to be_nil
    end

    it 'does not give me the option to delete myself' do
      within "#<%= @user_singular %>_#{<%= @user_singular %>.id}" do
        expect(page).not_to have_button('Delete')
      end
    end
  end

  describe 'reactivate' do
    let(:other_<%= @user_singular %>) { create(:<%= @user_singular %><%= @devise_roles&.any? ? ", :#{@devise_roles.last}" :  '' %>) }

    before do
      other_<%= @user_singular %>.destroy
    end

    it 'restores the <%= @user_singular %>' do
      click_link '<%= @authentication_model.pluralize %>'
      click_link 'Deleted'

      within "#<%= @user_singular %>_#{other_<%= @user_singular %>.id}" do
        accept_confirm do
          click_button 'Restore'
        end
      end

      expect(page).to have_content('<%= @authentication_model %> has been successfully reactivated')
    end
  end

  describe 'invites' do
    it 'creates a new <%= @user_singular %> invite'<%= @devise_invitable ? '' : ", pending: 'not implemented'" %> do
      click_link '<%= @authentication_model.pluralize %>'
      click_link 'Invite <%= @authentication_model %>'

      within '#modal' do
        fill_in 'Email', with: 'invitee@example.com'
        fill_in 'Name', with: 'Geoff'

        click_button 'Send Invite'
      end

      expect(page).to have_content('invited')
        .and(have_content('invited'))
    end
  end
<% if @devise_masquerade %>

  describe 'Impersonation' do
    let(:new_<%= @user_singular %>) { create :<%= @user_singular %> }

    before do
      new_<%= @user_singular %>
      visit <%= @user_plural %>_path
    end

  <% if @devise_roles&.any? && @devise_roles.size > 1  %>
    context 'when <%= @user_singular %> is <%= @devise_roles.first %>' do
      let(:<%= @user_singular %>) { create(:<%= @user_singular %>, :<%= @devise_roles.first %>) }

      it 'can impersonate a(n) <%= @user_singular %>' do
        click_on 'View as'
        expect(page).to have_text "You are currently logged in as #{new_<%= @user_singular %>.name}"
      end

      it 'can log in and log out from an impersonated a(n) <%= @user_singular %>' do
        click_on 'View as'
        click_on 'Dashboard'
        click_on 'Log out'
        expect(page).to have_current_path(<%= @user_plural %>_path)
      end
    end

    context 'when <%= @user_singular %> is a <%= @devise_roles.last %>' do
      let(:<%= @user_singular %>) { create(:<%= @user_singular %>, :<%= @devise_roles.last %>) }

      it 'can not impersonate a <%= @user_singular %>' do
        expect(page).not_to have_text 'View as'
      end
    end
  <% else %>
    it 'can impersonate a(n) <%= @user_singular %>' do
      click_on 'View as'
      expect(page).to have_text "You are currently logged in as #{new_<%= @user_singular %>.name}"
    end

    it 'can log in and log out from an impersonated a(n) <%= @user_singular %>' do
      click_on 'View as'
      click_on 'Dashboard'
      click_on 'Log out'
      expect(page).to have_current_path(<%= @user_plural %>_path)
    end
  <% end %>
  end
<% end %>
end
