<div class="flex flex-col justify-center min-h-screen py-12 bg-gray-50 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="text-3xl font-extrabold text-center text-gray-900">
      Resend unlock instructions
    </h2>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
      <%%= form_with(model: resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <div class="space-y-6">
          <%%= render "devise/shared/error_messages", resource: resource %>
          <%%= vc_input_group f: f, name: :email do |com| %>
            <%%= vc_email_field f: com.f, name: com.name, field: { autofocus: true, autocomplete: 'email' } %>
          <%% end %>
          <div class="actions">
            <%%= f.submit "Resend unlock instructions", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>
          <%%= render "devise/shared/links" %>
        </div>
      <%% end %>
    </div>
  </div>
</div>
