<%%= vc_navbar user: nil do |c| %>
  <%% c.with_links do %>
    <%%= active_link_to dashboards_path, active: :exact, class: 'flex sm:inline-flex items-center sm:group px-3 py-2 text-base sm:text-sm font-medium rounded-md', class_active: 'bg-indigo-800 text-white', class_inactive: 'text-indigo-300 hover:bg-indigo-600 hover:text-white' do %>
      <%%= heroicon 'home', variant: :outline, options: { class: 'w-5 h-5 mr-2' } %>
      <span class="flex-1">Dashboard</span>
    <%% end %>
  <%% end %>
  <%% c.with_secondary_links do %>
    <div class="relative mr-4" data-controller="reveal" data-reveal-target-selector-value="[data-profile]" data-reveal-away-value="true">
      <div>
        <button type="button" class="p-1 text-indigo-400 bg-indigo-800 rounded-full hover:text-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true"
                data-action="reveal#toggle">
          <span class="sr-only">Open user menu</span>
          <%%= heroicon 'bars-3', variant: :outline, options: { class: 'w-5 h-5' } %>
        </button>
      </div>
      <div class="absolute right-0 w-48 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"
              hidden data-profile data-transition
              data-transition-enter="transition ease-out duration-100"
              data-transition-enter-start="transform opacity-0 scale-95"
              data-transition-enter-end="transform opacity-100 scale-100"
              data-transition-leave="transition ease-in duration-75"
              data-transition-leave-start="transform opacity-100 scale-100"
              data-transition-leave-end="transform opacity-0 scale-95">
        <!-- Active: "bg-indigo-100", Not Active: "" -->
        <!-- secondary links -->
      </div>
    </div>
  <%% end %>
<%% end %>
