<%% if collection.total_pages > 1 %>
  <div class="flex items-center justify-between px-4 py-3 text-gray-600 bg-white border-t border-gray-200 sm:px-6">
    <div><%%= paginate collection %></div>
  </div>
<%% end %>
