<div class="flex flex-col min-h-screen py-12 bg-gray-50 sm:px-6 lg:px-8" id="login">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">
      Two Factor Authentication
    </h2>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
      <%%= form_with(model: resource, as: resource_name, url: session_path(resource_name), method: :post, html: { class: 'space-y-6', data: { turbo: true } }) do |f| %>
        <%%= f.hidden_field :remember_me, value: params["#{resource_name}"]['remember_me'] %>
        <%%= vc_input_group f: f, name: :otp_attempt, label_text: '2FA code' do |com| %>
          <%%= vc_text_field f: com.f, name: com.name, html: { autocomplete: 'otp-password' } %>
        <%% end %>
        <div>
          <%%= f.submit 'Log in', class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
        </div>
      <%% end %>
    </div>
  </div>
</div>
