<div class="flex flex-col justify-center min-h-screen py-12 bg-gray-50 sm:px-6 lg:px-8" id="login">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="text-3xl font-extrabold text-center text-gray-900">
      Sign in to your account
    </h2>
    <%% if devise_mapping.registerable? %>
      <p class="mt-2 text-sm text-center text-gray-600 max-w">
        Or
        <%%= link_to new_registration_path(resource), class: "font-medium text-indigo-600 hover:text-indigo-500" do %>
          sign up if you don't have an account
        <%% end %>
      </p>
    <%% end %>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="px-4 py-8 space-y-6 bg-white shadow sm:rounded-lg sm:px-10">
      <%%= form_with(model: resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="space-y-6">
          <%%= vc_input_group f: f, name: :email do |com| %>
            <%%= vc_email_field f: com.f, name: com.name, field: { autocomplete: 'email', autofocus: true } %>
          <%% end %>
          <%%= vc_input_group f: f, name: :password do |com| %>
            <%% com.inline_hint do %>
              <div class="float-right text-sm">
                <%%= link_to "Forgot your password?", new_password_path(resource_name), class: 'text-indigo-500 hover:text-indigo-700 active:text-indigo-400 transition duration-150 ease-in-out', tabindex: '-1' %>
              </div>
            <%% end if devise_mapping.recoverable? %>
            <%%= vc_password_field f: com.f, name: com.name, field: { autocomplete: 'current-password' } %>
          <%% end %>
          <%% if devise_mapping.rememberable? %>
            <div class="flex items-center justify-between">
              <%%= vc_check_box f: f, name: :remember_me %>
            </div>
          <%% end %>
          <div class="actions">
            <%%= f.submit "Log in", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>
          <%%= render "devise/shared/links" %>
        </div>
      <%% end %>
    </div>
  </div>
</div>
