# frozen_string_literal: true

# User Authentication Concern
module UserAuthentication
  extend ActiveSupport::Concern

  included do
    def active_for_authentication?
      super && deleted_at.blank?
    end
    <%if  @devise_2fa %>

    # Generate an OTP secret it it does not already exist
    def generate_two_factor_secret_if_missing!
      return unless otp_secret.nil?

      update!(otp_secret: <%= @authentication_model %>.generate_otp_secret)
    end

    # Ensure that the Admin user is prompted for their OTP when they login
    def enable_two_factor!
      update!(otp_required_for_login: true)
    end

    # Disable the use of OTP-based two-factor.
    def disable_two_factor!
      update!(
        otp_required_for_login: false,
        otp_secret: nil,
        otp_backup_codes: nil
      )
    end

    # URI for OTP two-factor QR code
    def two_factor_qr_code_uri
      issuer = ENV.fetch('OTP_2FA_ISSUER_NAME', nil)
      label = [issuer, email].join(':')

      otp_provisioning_uri(label, issuer: issuer)
    end

    # Determine if backup codes have been generated
    def two_factor_backup_codes_generated?
      otp_backup_codes.present?
    end

    def generate_and_save_otp_backup_codes!
      codes = generate_otp_backup_codes!
      save!
      codes || []
    end
    <% end %>
  end
end
