<!DOCTYPE html>
<html lang="<%%= I18n.locale %>" class="h-full bg-slate-50">
  <head>
    <title><%%= page_title format: ':title' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>
    <%%= action_cable_meta_tag %>
    <%%= stylesheet_link_tag 'tailwind', 'application', 'inter-font', 'data-turbo-track': 'reload' %>
    <%%= javascript_importmap_tags %>
    <%%= hotwire_livereload_tags if Rails.env.development? %>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <%%= favicon_link_tag 'add path to favicon image here', type: 'image/png' if false %>
    <%%= yield :head %>
  </head>
  <body class="h-full">
    <div class="flex flex-col h-screen">
      <%%= render 'navbar' %>
      <div class="flex flex-col flex-1 md:flex-row">
        <%% if content_for? :sidenav %>
          <div class="md:flex md:flex-col md:w-64">
            <%%= yield :sidenav %>
          </div>
        <%% end %>
        <div class="md:max-w-7xl md:mx-auto md:my-4 grow">
          <%%= yield %>
        </div>
        <%% if content_for? :context %>
          <div class="w-4/12 md:overflow-auto xl:w-3/12 bg-slate-200 shadow-inner-l">
            <%%= yield :context %>
          </div>
        <%% end %>
      </div>
    </div>
    <div id="flash-wrapper" aria-live="assertive" data-reflex-permanent data-turbo-permanent class="fixed inset-0 z-20 flex items-end px-4 py-6 pointer-events-none sm:p-6 sm:items-start">
      <div id="flash_messages" class="flex flex-col items-center w-full space-y-4 sm:items-end"></div>
    </div>
    <%%= turbo_frame_tag 'modal' %>
    <%% flash.each do |type, message| %>
      <%%= turbo_stream_action_tag 'prepend', target: 'flash_messages', template: render(Initforthe::FlashComponent.new(message:, type:)) %>
    <%% end %>
  </body>
</html>
