<!DOCTYPE html>
<html lang="<%%= I18n.locale %>">
  <head>
    <title><%%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>
    <%%= action_cable_meta_tag %>
    <%%= stylesheet_link_tag "tailwind", "application", "inter-font", "data-turbo-track": "reload" %>
    <%%= javascript_importmap_tags %>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <%%= yield :head %>
  </head>
  <body>
    <%%= yield %>
    <div id="flash-wrapper" aria-live="assertive" data-turbo-permanent class="fixed inset-0 z-20 flex items-end px-4 py-6 pointer-events-none sm:p-6 sm:items-start">
      <div id="flash_messages" class="flex flex-col items-center w-full space-y-4 sm:items-end"></div>
    </div>
    <%% flash.each do |type, message| %>
      <%%= turbo_stream_action_tag 'prepend', target: 'flash_messages', template: render(Initforthe::FlashComponent.new(message:, type:)) %>
    <%% end %>
  </body>
</html>
