# frozen_string_literal: true

# Application Policy
class ApplicationPolicy
  attr_reader :user, :record

  <% if @devise_roles&.any? %>
  delegate <%= @devise_roles&.map{|r| ":#{r}?" }.join(', ')%>, to: :user
  <% end %>

  def initialize(user, record)
    @user = user
    @record = record
  end

  def index?
    false
  end

  def show?
    false
  end

  def create?
    false
  end

  def new?
    create?
  end

  def update?
    false
  end

  def edit?
    update?
  end

  def destroy?
    false
  end

  class BasicScope
    attr_reader :user, :scope

    delegate :admin?, to: :user

    def initialize(user, scope)
      @user = user
      @scope = scope
    end

    def resolve
      scope.all
    end
  end

  class Scope < BasicScope; end

  private

  <% @devise_roles&.each do |role| %>
  def <%= role %>?
    @user.<%= role %>?
  end

  <% end %>
  <% if @devise_2fa %>
  def two_factor_authentication?
    @user.try(:otp_required_for_login?)
  end
  <% end %>
end
