# frozen_string_literal: true

# app/policies/<%= @user_singular %>_policy.rb
class <%= @authentication_model %>Policy < ApplicationPolicy
  def index?
    admin?
  end

  def create?
    admin?
  end

  def update?
    (admin? || user == record) && !record.deleted?
  end
  <% if @devise_roles %>

  def edit_role?
    admin?
  end
  <% end %>

  def destroy?
    (admin? && user != record) && !record.deleted?
  end

  def restore?
    (admin? && user != record) && record.deleted?
  end
<% if @devise_invitable %>

  def invite?
    admin?
  end
<% end%>
<% if @devise_2fa %>

  def two_factor_setup?
    true
  end

  def edit_two_factor_authentication?
    @user == record
  end
<% end %>
<% if @devise_masquerade %>

  def impersonate?
    <%= @devise_roles && @devise_roles.size > 1 ? 'admin? && (user != record)' : 'user != record' %>
  end

  def masquerade?
    <%= @devise_roles && @devise_roles.size > 1 ? 'admin?' : 'true' %>
  end
<% end %>
end
