# frozen_string_literal: true

# Base controller for authenticated actions
class BaseController < ApplicationController
  include Pundit::Authorization

  <%- if @devise -%>
  before_action :authenticate_<%= @user_singular %>!
  before_action :set_current_<%= @user_singular %>
  <% if @devise_masquerade %>
  before_action :masquerade!
  <% end %>

  <%- end -%>
  layout 'application'

  after_action :verify_authorized, except: :index # rubocop:disable Rails/LexicallyScopedActionFilter
  after_action :verify_policy_scoped, only: :index # rubocop:disable Rails/LexicallyScopedActionFilter
  <%- if @devise -%>

  private

  def set_current_<%= @user_singular %>
    Current.<%= @user_singular %> = current_<%= @user_singular %>
  end

  def pundit_user
    current_<%= @user_singular %>
  end
    <% if @devise_masquerade %>

  def after_masquerade_path_for(_resource)
    root_path
  end
    <% end %>
  <%- end -%>
end
