# frozen_string_literal: true

# controller for Impersonation
class MasqueradesController < Devise::MasqueradesController
  include Pundit::Authorization

  protected

  def masquerade_authorize!
    authorize(<%= @authentication_model %>, :masquerade?) unless params[:action] == 'back'
  end

  def after_back_masquerade_path_for(_resource)
    <%= @user_plural %>_path(<%= @user_singular%>_id: params[:<%= @user_singular%>_id])
  end

  def after_masquerade_path_for(_resource)
    <%= @user_plural %>_path
  end

  def pundit_user
    current_<%= @user_singular %>
  end
end
