# frozen_string_literal: true

# Controller for <%= @authentication_model%> Login
class SessionsController < Devise::SessionsController
  include AuthenticateWithOtpTwoFactor

  prepend_before_action :authenticate_with_otp_two_factor,
                        if: -> { action_name == 'create' && otp_two_factor_enabled? }

  protect_from_forgery with: :exception, prepend: true, except: :destroy

  protected

  def configure_permitted_parameters
    devise_parameter_sanitizer.permit(
      :invite, keys: %i[name email password inactive otp_attempt]
    )
  end
end
