# frozen_string_literal: true

# Controller for 2FA
class TwoFactorSettingsController < BaseController
  after_action :verify_authorized, except: [] # rubocop:disable Rails/LexicallyScopedActionFilter
  after_action :verify_policy_scoped, only: [] # rubocop:disable Rails/LexicallyScopedActionFilter

  def new
    authorize current_<%= @user_singular %>, :two_factor_setup?
    if current_<%= @user_singular %>.otp_required_for_login
      flash[:alert] = 'Two Factor Authentication is already enabled.'
      return redirect_to edit_<%= @user_singular %>_path(current_<%= @user_singular %>)
    end

    current_<%= @user_singular %>.generate_two_factor_secret_if_missing!
  end

  # rubocop:disable Metrics/MethodLength,Metrics/AbcSize
  def create
    authorize current_<%= @user_singular %>, :two_factor_setup?
    unless current_<%= @user_singular %>.valid_password?(enable_2fa_params[:password])
      flash.now[:alert] = 'Incorrect password'
      return render :new
    end

    if current_<%= @user_singular %>.validate_and_consume_otp!(enable_2fa_params[:code])
      current_<%= @user_singular %>.enable_two_factor!

      flash[:notice] = 'Successfully enabled two factor authentication, please make note of your backup codes.'
      redirect_to edit_two_factor_settings_path
    else
      flash.now[:alert] = 'Incorrect Code'
      render :new
    end
  end

  def edit
    authorize current_<%= @user_singular %>, :two_factor_setup?
    unless current_<%= @user_singular %>.otp_required_for_login
      flash[:alert] = 'Please enable two factor authentication first.'
      return redirect_to new_two_factor_settings_path
    end

    if current_<%= @user_singular %>.two_factor_backup_codes_generated?
      flash[:alert] = 'You have already seen your backup codes.'
      return redirect_to edit_<%= @user_singular %>_path(current_<%= @user_singular %>)
    end

    codes = current_<%= @user_singular %>.generate_and_save_otp_backup_codes!

    @backup_codes = codes
  end

  def destroy
    authorize current_<%= @user_singular %>, :two_factor_setup?
    if current_<%= @user_singular %>.disable_two_factor!
      flash[:notice] = 'Successfully disabled two factor authentication.'
      redirect_to edit_<%= @user_singular %>_path(current_<%= @user_singular %>)
    else
      flash[:alert] = 'Could not disable two factor authentication.'
      redirect_back fallback_location: root_path
    end
  end
  # rubocop:enable Metrics/MethodLength,Metrics/AbcSize

  private

  def enable_2fa_params
    params.require(:two_fa).permit(:code, :password)
  end
end
