# frozen_string_literal: true

# app/controllers/<%= @user_plural %>_controller.rb
class <%= @authentication_model.pluralize %>Controller < BaseController
  crudable
  include ResourceableHelpers

  private

  def resource_scope
    policy_scope(<%= @authentication_model %>).send(filter_scope)
  end

  def filter_scope
    allowed = <%= @devise_roles ?  "#{@authentication_model}.roles.keys" : '[]' %>
    <%= "allowed << 'invited'" if @devise_invitable %>
    allowed << 'only_deleted'

    allowed.include?(params[:scope]) ? params[:scope] : :all
  end

  def create_params
    params.require(:<%= @user_singular %>).permit(allowed_params)
  end
  alias update_params create_params

  def after_update_redirect_path
    <%= @user_plural %>_path
  end

  def allowed_params
    allowed = %i[email name<%= @devise_roles&.any? ? ' role' : ''%>]
    allowed += %i[password password_confirmation <%= @devise_2fa ? ' otp_attempt' : ''%>] if params[:<%= @user_singular %>][:password].present?
    allowed
  end
end
