<%%= turbo_frame_tag 'modal' do %>
  <%%= render Initforthe::ModalComponent.new(size: 'lg:max-w-xl', dismissible: true, controllers: 'autofocus', actions: 'reveal:shown->autofocus#focus', data: { autofocus_disabled_on_load_value: true }) do %>
    <div class="py-5 bg-white border-b border-gray-200">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Invite a new User</h3>
    </div>
    <div class="mt-4">
      <%%= render 'form', user: %>
    </div>
  <%% end %>
<%% end %>
