# frozen_string_literal: true

# 2FA concern
module AuthenticateWithOtpTwoFactor
  extend ActiveSupport::Concern

  def authenticate_with_otp_two_factor
    <%= @user_singular %> = self.resource = find_<%= @user_singular %>

    if <%= @user_singular %>_params[:otp_attempt].present? && session[:otp_<%= @user_singular %>_id]
      authenticate_<%= @user_singular %>_with_otp_two_factor(<%= @user_singular %>)
    elsif <%= @user_singular %>&.valid_password?(<%= @user_singular %>_params[:password])
      prompt_for_otp_two_factor(<%= @user_singular %>)
    end
  end

  private

  def valid_otp_attempt?(<%= @user_singular %>)
    <%= @user_singular %>.validate_and_consume_otp!(<%= @user_singular %>_params[:otp_attempt]) ||
      <%= @user_singular %>.invalidate_otp_backup_code!(<%= @user_singular %>_params[:otp_attempt])
  end

  def prompt_for_otp_two_factor(<%= @user_singular %>)
    @<%= @user_singular %> = <%= @user_singular %>

    session[:otp_<%= @user_singular %>_id] = <%= @user_singular %>.id
    respond_to do |format|
      format.turbo_stream do
        render turbo_stream: turbo_stream.replace('login',
                                                  partial: 'devise/sessions/two_factor',
                                                  locals: { resource:, resource_name: })
      end
    end
  end

  def authenticate_<%= @user_singular %>_with_otp_two_factor(<%= @user_singular %>)
    if valid_otp_attempt?(<%= @user_singular %>)
      # Remove any lingering <%= @user_singular %> data from login
      session.delete(:otp_<%= @user_singular %>_id)

      <%= @user_singular %>.remember_me! if <%= @user_singular %>_params[:remember_me] == '1'
      <%= @user_singular %>.save!
      sign_in(<%= @user_singular %>, event: :authentication)
      respond_to do |format|
        format.turbo_stream do
          redirect_to after_sign_in_path_for(<%= @user_singular %>), notice: I18n.t('devise.sessions.signed_in')
        end
      end
    else
      <%= @user_singular %>.errors.add(:otp_attempt, 'Invalid two-factor code')
      prompt_for_otp_two_factor(<%= @user_singular %>)
    end
  end

  def <%= @user_singular %>_params
    params.require(:<%= @user_singular %>).permit(:email, :password, :remember_me, :otp_attempt)
  end

  def find_<%= @user_singular %>
    if session[:otp_<%= @user_singular %>_id]
      <%= @authentication_model %>.find(session[:otp_<%= @user_singular %>_id])
    elsif <%= @user_singular %>_params[:email]
      <%= @authentication_model %>.find_by(email: <%= @user_singular %>_params[:email])
    end
  end

  def otp_two_factor_enabled?
    find_<%= @user_singular %>&.otp_required_for_login
  end
end
